$black: #080708;
$dark-gray: #616161;
$gray: #8E8E8E;
$light-gray: #A8A9A8;
$lighter-gray: #D2D3D2;
$white: #E6E8E6;

$primary-blue-1: #C8D8FF;
$primary-blue-2: #6D98FF;
$primary-blue-3: #497EFF;
$primary-blue-4: #3772FF;
$primary-blue-5: #2E5ED1;
$primary-blue-6: #2349A3;
$primary-blue-7: #142A5D;

$primary-red-1: #F9D8DA;
$primary-red-2: #F09DA3;
$primary-red-3: #E7636C;
$primary-red-4: #DF2935;
$primary-red-5: #A31E27;
$primary-red-6: #77161D;
$primary-red-7: #4B0E12;

$primary-yellow-1: #FEF5DC;
$primary-yellow-2: #FEE6A8;
$primary-yellow-3: #FDD874;
$primary-yellow-4: #FDCA40;
$primary-yellow-5: #B9932F;
$primary-yellow-6: #735C1E;
$primary-yellow-7: #2E250C;