@import 'colors';
@import 'reset';
@import 'scaling';
@import 'typography';

.start-page{
    background-color: $black;
    opacity: 90%;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    font-family: 'Baveuse';
    color: $white;
    align-content: space-between;
}

.start-page > img{
    width: 100%;
    height: auto;
}

.archer-heading{
    font-size: 60pt;
    align-self: center;
}

.audio{
    background-color: $black;
    align-self: center;
    margin: 10rem;
}

.w3-modal {
    z-index: 3;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  #sign-in{
    display: flex;
    flex-flow: column;
    font-family: 'Baveuse';
    background-color: $primary-yellow-4;
  }
  
  #login-button {
    background-color: $primary-yellow-4;
    border: none;
    color: $black;
    font-size: large;
    font-weight: 400;
    font-family: 'Baveuse';
  }
  
  #modal{
    margin: auto;
      position: relative;
      padding: 0;
      outline: 0;
      width: 100%;
      align-content: center;
      justify-content: center;
      font-family: 'Baveuse';
      background-color: $primary-yellow-4;
      font-size: 18pt;

  }

  #fake-button{
      background-color: $primary-yellow-4;
      color: $black;
      font-family: 'Baveuse';
    font-size: 12pt;
  }

  .cards-container{
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: $primary-blue-4;
      justify-content: space-around;
      text-align: center;
  }

h2{
    width: 100%;
    font-family: 'Baveuse';
    font-size: 45pt;
    text-align: center;
    padding: 5pt;
    background-color: $primary-red-4;
    color: $primary-yellow-4;
    border: solid;
    border-width: 2pt;
    border-color: $black;
}

  #card{
    display: flex;
    border: solid;
    border-width: 2pt;
    border-color: $black;
    width: 25%;  
    padding: 10pt;
    font-family: 'Baveuse';
    flex-direction: column;
    margin: 5pt;
    background-color: $primary-yellow-4;
    align-items: center;
    justify-content: space-between;
  }

  #card > p{
      font-size: 14pt;
      color: $primary-blue-4;
      padding: 2px;
  }

  #card > span{
      font-size: 10pt;
      color: $black;
      padding: 2px;
  }

  #card > h3{
      font-size: 20pt;
      color: $primary-red-4;
      padding: 2px;
  }